:root {
  --blue: dodgerblue;
  --gray: #868686;
  --anatomy-gray-900: #8ca4d9;
  --anatomy-gray-800: #8ca4d9;
  --anatomy-gray-700: #8ba3d8;
  --anatomy-gray-600: #6080ca;
  --anatomy-gray-500: #3a589b;
  --anatomy-gray-400: #2e467b;
  --anatomy-gray-300: #223259;
  --anatomy-gray-200: #1c2b4b;
  --anatomy-gray-100: #141e35;
  --anatomy-gray-75: #0e1525;
  --anatomy-gray-50: #0c1220;
  --docsearch-logo-color: #fff;
}
